@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

#subject-name {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 35px;
  color: teal;
  padding: 20px 0;
  padding-top: 60px !important;
}

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Raleway:wght@200&display=swap");
body,
main{
  background-color: rgb(235, 242, 253) !important;

}
.popup {
  z-index: 1;
  content: "";
  height: 100vh;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.227); */
  /* background: linear-gradient(45deg,rgba(255, 255, 255, 0.4501),rgba(0, 128, 128, 0.512)); */
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup-msg {
  backdrop-filter: blur(15px);

  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  height: 60%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.985);
  position: fixed;
  margin: 0 auto;
  z-index: 99 !important;
  text-align: center;
  padding-top: 30px;
}
.popup-msg img {
  border-radius: 100px;
  width: 160px;
  padding: 10px;
  margin-bottom: 10px;
}
a img {
  width: 50px;
  border-radius: 100px;
}
#app {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}
.popup-msg a {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(7, 60, 145, 0.456) 0px -2px 16px 2px inset;

  text-decoration: none;
  padding: 15px 30px;
  background-color: teal;
  color: white;
  border-radius: 10px;
  font-family: "Prompt", sans-serif;
  letter-spacing: 1px;
  transition: 500ms;
}
.popup-msg a:hover {
  background-color: rgb(22, 56, 56);
}
.popup-msg p {
  font-family: "Rubik Moonrocks", cursive;
  color: teal;
  font-size: 3rem;
}

#close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  padding: 10px;
}
.feedback {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: rgb(39, 125, 140);
  padding: 5px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  justify-content: center;
  width: 30%;
  height: 40px;
  border-radius: 5px 5px 0 0;
}
.feedback p {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 0 0 10px 0;
}
.feedback img {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}
/* main{
        background-image: url(../img/Untitled\ design\ \(2\).png);
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
        /* background-attachment: fixed; 
      } */
.answers {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(9, 143, 136, 0.456) 0px -2px 16px 2px inset;
  padding: 10px;
  border-radius: 20px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 95%;
}
.answers h1{
  font-family: "Rubik Moonrocks", cursive ;
}
.nkk button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 16px 0px inset;
}
body {
  background-position: bottom right;
  background-image: url(../img/Untitled\ design\ \(2\).png);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(255, 255, 255) !important;
  background-blend-mode: multiply;
  height: 100%;
}

.accordion {
  /* border-radius: 10px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  text-align: left !important;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid rgba(51, 51, 51, 0.379);
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  /* border: none; */
  outline: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s;
  letter-spacing: 1px;
  font-family: "Prompt", sans-serif;
}

nav {
  box-shadow: rgb(21, 107, 104) 0px 10px 20px -10px;
  z-index: 9999999999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 7vh;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px 0;
  /* background:linear-gradient(45deg,rgb(128, 85, 0),rgb(112, 224, 64)) */
  background-color: cadetblue;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  /* color: rgb(25, 99, 92) !important; */
  color: #fff;
  gap: 5px;
  /* height: 10vh; */
}
nav div img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
nav p {
  margin: 0;
}
.words {
  float: right;
  font-size: 12px;
}

.active {
  background-color: rgb(45, 169, 167);
}
#back {
  position: absolute;
  left: 0;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
#back img {
  padding: 0 0 0 15px;
  width: 40px;
  height: 30px;
}
.panel {
  border: 1px solid rgba(51, 51, 51, 0.249);
  font-size: 20px;
  color: #333;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
  padding: 20px;
  text-align: left;
  display: none;
  background-color: rgba(29, 153, 124, 0.091);
  overflow: hidden;
  letter-spacing: 2px;
  text-align: left;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #f1f2f3;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 99999999;
}
#loading img {
  width: 15%;
}
#ads {
  position: fixed;
  bottom: 0 !important;
  border: 1px solid rgb(89, 89, 89);
  width: 100%;
  transition: 500ms;
  /* overflow: hidden; */
  height: 50px;
  transform: translateY(0px);
  background-color: cadetblue;
  z-index: 100;
  left: 0;

  padding: 5px;
}
#ads button {
  border: none;
  border-left: 1px solid rgb(0, 136, 255);
  border-radius: 10px 0px 0px 0px;
  transition: 500ms;
  transform: rotate(90deg);
  position: absolute;
  top: -25px;
  padding: 10px;
  left: 0;
  background-color: cadetblue;
}
#choose {
  font-family: "Rubik Moonrocks", cursive;
  color: teal;
}


#hamburger{
  position: absolute;
  right:10px;
  width:40px;
  text-align: right;
}
#hamburger img{
height: 30px;
}
body{
  overflow-x: hidden;
}
main{
  transform: translateX(0%);
  transition: 500ms;
}
#menu{
  display: flex;
background-color: rgba(213, 229, 255, 0.734);
width: 80%;
position: fixed;
right: 0;
top: 0;
bottom: 0;
height: 100vh;
padding-top: 100px;
transform: translateX(80%);
flex-direction: column;
align-items: center;
transition: 509ms;
}
#close-menu{
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding:20spx;
}
#input-menu{
  width: 90%;
outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#search-box{
  margin: 0 auto;
  width: 80%;
  border-radius:20px;
  padding: 10px;

    display: flex;
    gap: 10px;
}
#search-box img{
  background-color: teal;
  border-radius: 100px;
  padding: 10px;
  width:40px;
  height:40px;

}
::placeholder{
  opacity: 0.4;
}